<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptic - CW</title>
  </head>
  <body>
    <img src="/assets/thebrownbeast.png" width="100%" alt="." />
    <h1>/stop this fast/</h1>
    <audio src="/assets/eagleisdown.mp3"></audio>
    <script>
      document.addEventListener("click", () => {
        document.querySelector("audio").play();
        document.querySelector("audio").loop = true;
      });
    </script>
  </body>
</html>
