<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CW - Admin - Add Competition</title>
  </head>
  <body>
    <h1>Add Competition</h1>
    <form action="/admin/add-comp" method="POST">
      <input required type="text" name="name" placeholder="Competition Name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
